body {
  font-family: helvetica;
  color: #333;
  background: #CCC;
}
.navbar {
  margin-bottom: 20px;
}

.navbar-default {
  background: #337ab7;
  border: 1px solid #89B0D0;
}

.navbar-default .navbar-brand {
  color: #fff;
}

#logout {
  color: #fff;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background: #CCC;
  width: 900px;
}

#header {
  margin-bottom: 5px;
}

#chat {
  height: 600px;
  background: #AAA;
  width: 800px;
  overflow-y: scroll;
  border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6x 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  border: 1px solid #fff;
  z-index: 3;}

.msg {
  padding: 10px;
  width: 780px;
  background: #98FB98;
  border-style: none none solid none;
  border-width: 1px;
  border-color: white;
}

.others {
  background: #99D8FF;
  border-style: none none solid none;
  border-width: 1px;
}

#userField {
  width: 210px;
  position: relative;
  top: 1px;
}

#textField {
  width: 700px;
  position: relative;
  height: 40px;
  color: #000;
  padding: 10px;
}

#enviarMsg {
  margin-left: 5px;
}

#footer {
  color: #EEE;
  width: 800px;
  height: 60px;
  font-weight: bold;
  padding: 10px;
  background: #666;
  border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6x 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1), 0px 0px 8px 8px rgba(0,0,0,0.03) inset, 0px 0px 12px 12px rgba(0,0,0,0.01) inset;
  border: 1px solid #fff;
  z-index: 3;
}

#roomSelect {
  width: 85px;
}

.undo {
  padding: 20px 0;
}
