body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.navbar-default {
  background: #337ab7;
  border: 1px solid #89B0D0;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.login {
  margin-top: 150px;
  background-color: #f5f5f5;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#gSignInWrapper {
  padding-left: 10px;
  padding-top: 10px;
}

#customBtn {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 230px;
  border-radius: 5px;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url('/assets/images/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-right: #2265d4 1px solid;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}