<!DOCTYPE html>
<html ng-app="sseChat">
  <head>
    <title>Pixeon Chat version 1.0</title>
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="assets/stylesheets/chat.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/javascripts/app.js"></script>
    <script src="assets/javascripts/services.js"></script>
    <script src="assets/javascripts/controllers.js"></script>
  </head>
  <body ng-controller="ChatCtrl">

      <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a id="home" class="navbar-brand" href="#">Pixeon Chat</a>
	      </div>
	      <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a id="logout" href="/">Logout</a></li>
            </ul>
          </div>
	    </div>
	  </nav>

      <br/>

      <div class="container">
        <div class="jumbotron center">
          <div id="header">
            Nome: <strong>{{user}}
          </div>
          <div id="chat" scroll-bottom="msgs">
            <div class="{{msg.who}} msg" ng-repeat="msg in msgs" ng-class="msg.user !== user ? 'others' : ''">{{msg.time}}<br/>
              <strong>{{msg.user}} escreveu: </strong>{{msg.text}}<br/>
            </div>
          </div>
          <div id="footer">
            <form ng-submit="submitMsg()">
              <input type="text" name="chat" id="textField" ng-model="inputText" placeholder="Digite aqui..." />
              <input type="button" class="btn btn-primary" id="enviarMsg" value="Enviar" ng-click="submitMsg()" />
            </form>
          </div>
        </div>
      </div>

  </body>
</html>
